---
layout: page
description: "Web Hosting"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
<div style="width:100%">
    
    <div style="width:70%;float:left">
        <h1><a href='https://www.siteground.com/index.htm?afcode=79b517d232c85700fb5ad504b03bcc33'>1.SiteGround</a></h1>
        <p>- B2B website please click the link to purchase.</p>
    </div>
    <div style="width:20%;float:right">
        <p><img src='https://github.com/jerrycruzmail/webhosting/assets/169523598/98281ef6-12ac-4f35-b7fa-e61bff08f5cd'></p>
    </div>
</div>


